.desktop-3
{
position:absolute;
background-color:#ffffff;
height:1731px;
width:1440px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
}
.frame2
{
height:390px;
width:555px;
align-self:flex-start;
left:270px;
top:80px;
position:absolute;
border-radius:4px;
padding:0px;
}
.bi-платформа-fineblprod
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Basic;
left:126px;
top:20px;
width:303px;
height:30px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group188
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:270px;
left:115px;
}
.кнопканормал
{
background-color:#2764ce;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:270px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame1
{
height:20px;
width:203px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:61px;
}
.регламентнаяотчётность
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:203px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.group195
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:210px;
left:115px;
}
.кнопканормал2
{
background-color:#2764ce;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:210px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame12
{
height:20px;
width:196px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:64px;
}
.продвинутыедашборды
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:196px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.group194
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:90px;
left:115px;
}
.кнопканормал3
{
background-color:#ffffff;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:90px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.кнопканормал4
{
background-color:#2764ce;
height:40px;
width:325px;
border-radius:4px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
}
.frame13
{
height:20px;
width:82px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
left:122px;
top:10px;
}
.самостоятельнаяаналитика
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
align-self:flex-start;
left:164px;
top:99px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:226px;
display:flex;
}
.group186
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:150px;
left:115px;
}
.group196
{
align-self:flex-start;
left:115px;
top:150px;
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
border-style:hidden;
outline:none;
}
.кнопканормал5
{
background-color:#ffffff;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:150px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.кнопканормал6
{
background-color:#2764ce;
height:40px;
width:325px;
border-radius:4px;
padding:0px;
border-style:hidden;
outline:none;
}
.типовыедашборды
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
align-self:flex-start;
left:199px;
top:159px;
position:absolute;
width:157px;
height:20px;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.frame32
{
height:390px;
width:555px;
align-self:flex-start;
left:270px;
top:900px;
position:absolute;
border-radius:4px;
padding:0px;
}
.self-serviceprod
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Basic;
left:184px;
top:20px;
width:186px;
height:30px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group187
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:210px;
left:115px;
}
.кнопканормал7
{
background-color:#8eace1;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:210px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame14
{
height:20px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:162px;
}
.group1882
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:270px;
left:115px;
}
.кнопканормал8
{
background-color:#2764ce;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:270px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame15
{
height:20px;
width:198px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:63.5px;
}
.подключенияисточника
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:198px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.group190
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:90px;
left:115px;
}
.кнопканормал9
{
background-color:#2764ce;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:90px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame16
{
height:20px;
width:173px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:76px;
}
.загрузкиданныхвхд
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:173px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.group189
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:330px;
left:115px;
}
.кнопканормал10
{
background-color:#2764ce;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:330px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame17
{
height:20px;
width:98px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:113.5px;
}
.заказхдфн
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:98px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.group191
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:150px;
left:115px;
}
.кнопканормал11
{
background-color:#2764ce;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:150px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame18
{
height:20px;
width:24px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:150px;
}
.etl
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:24px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.frame30
{
height:390px;
width:555px;
align-self:flex-start;
left:270px;
top:490px;
position:absolute;
border-radius:4px;
padding:0px;
}
.личныйкабинетprod
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Basic;
left:146px;
top:20px;
width:263px;
height:30px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.гриб3дсуперроботвстилеметалла-11
{
height:147px;
width:210px;
top:243px;
position:absolute;
}
.group1872
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:210px;
left:115px;
}
.кнопканормал12
{
background-color:#8eace1;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:210px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame19
{
height:20px;
width:136px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:94px;
}
.group1952
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:270px;
left:115px;
}
.кнопканормал13
{
background-color:#8eace1;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:270px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame110
{
height:20px;
width:136px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:94px;
}
.group1942
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:90px;
left:115px;
}
.кнопканормал14
{
background-color:#ffffff;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:90px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.кнопканормал15
{
background-color:#2764ce;
height:40px;
width:325px;
border-radius:4px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
}
.frame111
{
height:20px;
width:82px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
left:122px;
top:10px;
}
.датааналитика
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
align-self:flex-start;
left:215px;
top:100px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:125px;
display:flex;
}
.group1862
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:150px;
left:115px;
}
.group1962
{
align-self:flex-start;
left:115px;
top:150px;
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
border-style:hidden;
outline:none;
}
.кнопканормал16
{
background-color:#ffffff;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:150px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.кнопканормал17
{
background-color:#2764ce;
height:40px;
width:325px;
border-radius:4px;
padding:0px;
border-style:hidden;
outline:none;
}
.dqаналитика
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
align-self:flex-start;
left:223px;
top:160px;
position:absolute;
width:108px;
height:20px;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.frame33
{
height:390px;
width:555px;
align-self:flex-start;
left:845px;
top:80px;
position:absolute;
border-radius:4px;
padding:0px;
}
.bi-платформа-finebltest
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Basic;
left:130px;
top:20px;
width:294px;
height:30px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.гриб3дсуперроботвстилеметалла-31
{
height:173px;
width:210px;
top:217px;
position:absolute;
}
.group1883
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:270px;
left:115px;
}
.кнопканормал18
{
background-color:#2764ce;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:270px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame112
{
height:20px;
width:203px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:61px;
}
.регламентнаяотчётность2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:203px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.group1953
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:210px;
left:115px;
}
.кнопканормал19
{
background-color:#2764ce;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:210px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame113
{
height:20px;
width:196px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:64px;
}
.продвинутыедашборды2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:196px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.group1943
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:90px;
left:115px;
}
.кнопканормал20
{
background-color:#ffffff;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:90px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.кнопканормал21
{
background-color:#2764ce;
height:40px;
width:325px;
border-radius:4px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
}
.frame114
{
height:20px;
width:82px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
left:122px;
top:10px;
}
.самостоятельнаяаналитика2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
align-self:flex-start;
left:164px;
top:99px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:226px;
display:flex;
}
.group1863
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:150px;
left:115px;
}
.group1963
{
align-self:flex-start;
left:115px;
top:150px;
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
border-style:hidden;
outline:none;
}
.кнопканормал22
{
background-color:#ffffff;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:150px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.кнопканормал23
{
background-color:#2764ce;
height:40px;
width:325px;
border-radius:4px;
padding:0px;
border-style:hidden;
outline:none;
}
.типовыедашборды2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
align-self:flex-start;
left:199px;
top:159px;
position:absolute;
width:157px;
height:20px;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.frame332
{
height:390px;
width:555px;
align-self:flex-start;
left:845px;
top:900px;
position:absolute;
border-radius:4px;
padding:0px;
}
.self-servicetest
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Basic;
left:189px;
top:20px;
width:177px;
height:30px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group1873
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:210px;
left:115px;
}
.кнопканормал24
{
background-color:#8eace1;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:210px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame115
{
height:20px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:162px;
}
.гриб3дсглазамивзрослыйгрибот40летибольше.эффектгрибвстилероботов1
{
height:127px;
width:210px;
top:263px;
position:absolute;
}
.group1884
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:270px;
left:115px;
}
.кнопканормал25
{
background-color:#2764ce;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:270px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame116
{
height:20px;
width:198px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:63.5px;
}
.подключенияисточника2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:198px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.group1892
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:330px;
left:115px;
}
.кнопканормал26
{
background-color:#2764ce;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:330px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame117
{
height:20px;
width:98px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:113.5px;
}
.заказхдфн2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:98px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.group1902
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:90px;
left:115px;
}
.кнопканормал27
{
background-color:#2764ce;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:90px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame118
{
height:20px;
width:173px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:76px;
}
.загрузкиданныхвхд2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:173px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.group1912
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:150px;
left:115px;
}
.кнопканормал28
{
background-color:#2764ce;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:150px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame119
{
height:20px;
width:24px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:150px;
}
.etl2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:24px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.frame31
{
height:390px;
width:555px;
align-self:flex-start;
left:845px;
top:490px;
position:absolute;
border-radius:4px;
padding:0px;
}
.личныйкабинетtest
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Basic;
left:150px;
top:20px;
width:254px;
height:30px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.group1874
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:210px;
left:115px;
}
.кнопканормал29
{
background-color:#8eace1;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:210px;
position:absolute;
border-radius:4px;
padding:0px;
}
.group1944
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:90px;
left:115px;
}
.кнопканормал30
{
background-color:#ffffff;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:90px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.кнопканормал31
{
background-color:#2764ce;
height:40px;
width:325px;
border-radius:4px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
}
.frame120
{
height:20px;
width:82px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
left:122px;
top:10px;
}
.датааналитика2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
align-self:flex-start;
left:215px;
top:100px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:125px;
display:flex;
}
.group1864
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:150px;
left:115px;
}
.group1964
{
align-self:flex-start;
left:115px;
top:150px;
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
border-style:hidden;
outline:none;
}
.кнопканормал32
{
background-color:#ffffff;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:150px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.кнопканормал33
{
background-color:#2764ce;
height:40px;
width:325px;
border-radius:4px;
padding:0px;
border-style:hidden;
outline:none;
}
.dqаналитика2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
align-self:flex-start;
left:223px;
top:160px;
position:absolute;
width:108px;
height:20px;
line-height:auto;
border-style:hidden;
outline:none;
display:flex;
}
.group1954
{
width:325px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:270px;
left:115px;
}
.кнопканормал34
{
background-color:#8eace1;
height:40px;
width:325px;
align-self:flex-start;
left:115px;
top:270px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame121
{
height:20px;
width:136px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:94px;
}
.мульти-портал
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Basic;
align-self:flex-start;
left:710px;
top:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:242px;
display:flex;
}
.frame29
{
background-color:#ffffff;
height:1731px;
width:250px;
border-radius:0px 4px 4px 0px;
padding:0px;
position:absolute;
top:0px;
left:0px;
}
.logo2
{
background-color:#ffffff;
height:57px;
width:105px;
padding:0px;
left:11px;
top:24px;
position:relative;
}
.vector
{
background-color:#1492ff;
height:56.00003433227539px;
width:103.99992370605469px;
width:103.99992370605469px;
height:56.00003433227539px;
left:0px;
top:0px;
position:absolute;
}
.свернуть
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
left:171px;
top:45px;
position:absolute;
width:56px;
}
.group184
{
width:250px;
height:40px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:absolute;
border-style:hidden;
outline:none;
top:105px;
left:0px;
}
.frame302
{
height:40px;
width:250px;
align-self:flex-start;
top:105px;
left:0px;
position:absolute;
padding:0px;
}
.мульти-портал2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Basic;
left:10px;
top:10px;
width:106px;
height:18px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.frame312
{
height:40px;
width:250px;
padding:0px;
top:145px;
position:relative;
}
.управляющиймеханизм
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
top:10px;
left:10px;
position:absolute;
width:174px;
}
.frame322
{
height:40px;
width:250px;
padding:0px;
top:185px;
position:relative;
}
.кросс-функционал.хранилище
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
top:10px;
left:10px;
position:absolute;
width:217px;
}
.frame333
{
height:40px;
width:250px;
padding:0px;
top:225px;
position:relative;
}
.локальныехранилищафн
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
top:10px;
left:10px;
position:absolute;
width:187px;
}
.frame34
{
height:40px;
width:250px;
padding:0px;
top:265px;
position:relative;
}
.frame37
{
height:40px;
width:250px;
padding:0px;
top:308px;
position:relative;
}
.frame38
{
height:40px;
width:250px;
padding:0px;
top:347px;
position:relative;
}
.frame39
{
height:40px;
width:250px;
padding:0px;
top:387px;
position:relative;
}
.чтотакоеdmp
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
top:10px;
left:10px;
position:absolute;
width:108px;
}
.frame40
{
height:40px;
width:250px;
padding:0px;
top:427px;
position:relative;
}
.confiuenceпортал
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
top:10px;
left:10px;
position:absolute;
width:119px;
}
.frame41
{
height:40px;
width:250px;
padding:0px;
top:467px;
position:relative;
}
.frame42
{
height:40px;
width:250px;
padding:0px;
top:507px;
position:relative;
}
.frame43
{
height:40px;
width:250px;
padding:0px;
top:547px;
position:relative;
}
.frame44
{
height:40px;
width:250px;
padding:0px;
top:587px;
position:relative;
}
.frame45
{
height:40px;
width:250px;
padding:0px;
top:627px;
position:relative;
}
.frame46
{
height:40px;
width:250px;
padding:0px;
top:667px;
position:relative;
}
.frame47
{
height:40px;
width:250px;
padding:0px;
top:707px;
position:relative;
}
.frame48
{
height:40px;
width:250px;
padding:0px;
top:747px;
position:relative;
}
.frame49
{
height:40px;
width:250px;
padding:0px;
top:787px;
position:relative;
}
.frame50
{
height:40px;
width:250px;
padding:0px;
top:827px;
position:relative;
}
.frame51
{
height:40px;
width:250px;
padding:0px;
top:867px;
position:relative;
}
.frame52
{
height:40px;
width:250px;
padding:0px;
top:907px;
position:relative;
}
.frame53
{
height:40px;
width:250px;
padding:0px;
top:947px;
position:relative;
}
.frame54
{
height:40px;
width:250px;
padding:0px;
top:987px;
position:relative;
}
.frame55
{
height:40px;
width:250px;
padding:0px;
top:1027px;
position:relative;
}
.frame56
{
height:40px;
width:250px;
padding:0px;
top:1067px;
position:relative;
}
.frame57
{
height:40px;
width:250px;
padding:0px;
top:1107px;
position:relative;
}
.frame58
{
height:40px;
width:250px;
padding:0px;
top:1147px;
position:relative;
}
.frame59
{
height:40px;
width:250px;
padding:0px;
top:1187px;
position:relative;
}
.frame60
{
height:40px;
width:250px;
padding:0px;
top:1227px;
position:relative;
}
.frame61
{
height:40px;
width:250px;
padding:0px;
top:1267px;
position:relative;
}
.frame62
{
height:40px;
width:250px;
padding:0px;
top:1307px;
position:relative;
}
.frame63
{
height:40px;
width:250px;
padding:0px;
top:1347px;
position:relative;
}
.frame64
{
height:40px;
width:250px;
padding:0px;
top:1387px;
position:relative;
}
.frame632
{
height:40px;
width:250px;
padding:0px;
}
.frame65
{
height:40px;
width:250px;
padding:0px;
top:1427px;
position:relative;
}
.суперроботгриб3д1
{
height:264px;
width:250px;
transform:rotate(-180deg);
left:250px;
top:1467px;
position:absolute;
}
.кнопканормал35
{
background-color:#2764ce;
height:40px;
width:210px;
align-self:flex-start;
left:834px;
top:1547px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame122
{
height:20px;
width:159px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:25px;
}
.clouderamanagerdmp
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:159px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.кнопканормал36
{
background-color:#2764ce;
height:40px;
width:210px;
align-self:flex-start;
left:834px;
top:1607px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame123
{
height:20px;
width:68px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:71px;
}
.ецпdmp
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:68px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.кнопканормал37
{
background-color:#2764ce;
height:40px;
width:210px;
align-self:flex-start;
left:834px;
top:1487px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame124
{
height:20px;
width:80px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:65px;
}
.tantordmp
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:80px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.кнопканормал38
{
background-color:#ffffff;
height:40px;
width:210px;
align-self:flex-start;
left:833px;
top:1367px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.кнопканормал39
{
background-color:#2764ce;
height:40px;
width:210px;
border-radius:4px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
}
.frame125
{
height:20px;
width:142px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
left:34px;
top:10px;
}
.справочникиdmp
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:142px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.кнопканормал40
{
background-color:#ffffff;
height:40px;
width:210px;
align-self:flex-start;
left:834px;
top:1427px;
position:absolute;
padding:0px;
border-style:hidden;
outline:none;
}
.кнопканормал41
{
background-color:#2764ce;
height:40px;
width:210px;
border-radius:4px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
}
.frame126
{
height:20px;
width:28px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
left:91px;
top:10px;
}
.hue
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:28px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.кнопканормал42
{
background-color:#2764ce;
height:40px;
width:210px;
align-self:flex-start;
left:587px;
top:1547px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame127
{
height:20px;
width:159px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:25px;
}
.clouderamanagerdmp2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:159px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.кнопканормал43
{
background-color:#8eace1;
height:40px;
width:210px;
align-self:flex-start;
left:587px;
top:1607px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame128
{
height:20px;
width:68px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:71px;
}
.ецпdmp2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:68px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.кнопканормал44
{
background-color:#8eace1;
height:40px;
width:210px;
align-self:flex-start;
left:587px;
top:1367px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame129
{
height:20px;
width:142px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:34px;
}
.справочникиdmp2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:142px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.кнопканормал45
{
background-color:#2764ce;
height:40px;
width:210px;
align-self:flex-start;
left:587px;
top:1427px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame130
{
height:20px;
width:28px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:91px;
}
.hue2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:28px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
.кнопканормал46
{
background-color:#8eace1;
height:40px;
width:210px;
align-self:flex-start;
left:587px;
top:1487px;
position:absolute;
border-radius:4px;
padding:0px;
}
.frame131
{
height:20px;
width:80px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:4px;
position:absolute;
top:10px;
left:65px;
}
.tantordmp2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Basic;
line-height:auto;
border-style:hidden;
outline:none;
width:80px;
align-self:flex-start;
display:flex;
position:absolute;
left:0px;
top:0px;
}
